/* colors button  #4D5AE5 */
/* primary colors  headlines #2E2F42 */
/* colors text #434455 */
/* text in footer  #E7E9FC */
/* h1 button text #FFFFFF */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #434455;
}
:root {
  --primary-button-color:#4D5AE5;
  --color-headlines:#2E2F42;
  --color-text:#434455;
  --footer-text:#E7E9FC;
  --button-h1:#FFFFFF;
  --button-hover: #404BBF;
  --button-portfolio:  #F4F4FD;
}
 .list {
  list-style: none;
 }



 .visually-hidden {
  position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} 

/* ----LOGO---- */
.logo {
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-button-color);
  text-decoration: none;


}
.accent-header-logo{
  color: var(--color-headlines)

}


/* ----HEADER---- */
.head {
  /* position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px; */
  background: var(--button-h1);
}

.nav-list {
  
}
.list-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-headlines);
  text-decoration: none;

}
.contact {
  
}
.contact-item {
  
}

.nav-a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-headlines);
}

.nav-a:hover,
.nav-a:focus {
  color: var(--primary-button-color);
}

.contact-a:hover,
.contact-a:focus {
  color: var(--primary-button-color);
}

/* .contact-item:hover,
.contact-item:focus {
  color: #4D5AE5;
} */

.contact-a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-text);
  text-decoration: none;
}

/* ----HERO---- */
.hero {
  background: var(--color-headlines);
}
.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--button-h1);
}
.hero-button {
  font-family: inherit;
  background: var(--primary-button-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--button-h1);
  cursor:pointer;

}

.hero-button:hover,
.hero-button:focus {
  background: var(--button-hover);
}

/* ----SKILLS---- */
.skills {
}
.skills-title {
}
.skills-list {
}
.skills-item {
}
.skills-pre-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-headlines);
}
.skills-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


/* ----WORK---- */
.work {
}
.work-title {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-headlines);

}
.work-list {
}
.work-item {
}

/* ----TEAM---- */
.team {
  background:#F4F4FD;
}
.team-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-headlines);
}
.team-list {
}
.team-item {
}

.team-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-headlines);

}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

}

/* ----FOOTER---- */
.foot {
  background: var(--color-headlines);
}

.accent-footer-logo {
  color: #F4F4FD;

}
.foot-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text);

}

/* ----PORTFOLIO---- */

.portfolio {
  background: #E5E5E5;
}
.portfolio-title {
}
.portfolio-button-list {
}
.portfolio-button {

}
.button-item {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-button-color);
  background: var(--button-portfolio);
  cursor: pointer;

  
}

.button-item:hover,
.button-item:focus {
  background: var(--primary-button-color);
  color: var(--button-portfolio);
}

.portfolio-list {
}
.portfolio-item {
  
}
.portfolio-secondly-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-headlines);

}
.portfolio-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  
}
.text-decor{
  text-decoration: none;
}
